
/*----------------------------------------------------------
 * Chess
-----------------------------------------------------------*/
.chess-board{
	width: 432px;
	height: 0;
	margin: 0 auto;
	opacity: 0;
	visibility: hidden;
}
.board-black-square {
	width: 50px;
	height: 50px;
	background-color: #663300;
	border: 2px solid black;
	float: left;
}
.board-white-square {
	width: 50px;
	height: 50px;
	background-color: #ffffff;
	border: 2px solid black;
	float: left;
}

.is-visible {
	height: auto;
	opacity: 1;
	visibility: visible;
}

/*----------------------------------------------------------
 * Chess piece images
-----------------------------------------------------------*/

.black-pawn {
	background: url('BlackPawn.png');
}
.black-rook {
	background: url('BlackRook.png');
}
.black-bishop {
	background: url('BlackBishop.png');
}
.black-knight {
	background: url('BlackKnight.png');
}
.black-queen {
	background: url('BlackQueen.png');
}
.black-king {
	background: url('BlackKing.png');
}
.white-pawn {
	background: url('WhitePawn.png');
}
.white-rook {
	background: url('WhiteRook.png');
}
.white-bishop {
	background: url('WhiteBishop.png');
}
.white-knight {
	background: url('WhiteKnight.png');
}
.white-queen {
	background: url('WhiteQueen.png');
}
.white-king {
	background: url('WhiteKing.png');
}

