
/*----------------------------------------------------------
 * Chess
-----------------------------------------------------------*/
.chess-board{
	width: 25%;
	height: 0;
	left: 50%;
	box-shadow: 0 2px 6px rgba(0,0,0,0.5);
	position: absolute;
	transform: translate(-50%,0);
	opacity: 0;
	visibility: hidden;
	background: white;
	z-index: 2;
}
.board-black-square {
	width: 50px;
	height: 50px;
	background-color: #663300;
	border: 2px solid black;
	float: left;
}
.board-white-square {
	width: 50px;
	height: 50px;
	background-color: #ffffff;
	border: 2px solid black;
	float: left;
}

.is-visible {
	height: auto;
	opacity: 1;
	visibility: visible;
}
.modal-is-visible {
	opacity: 1;
	visibility: visible;

}
.group:before,
.group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	zoom: 1; /* IE6&7 */
}
/*----------------------------------------------------------
 * modal
-----------------------------------------------------------*/
.modal-overlay {
	background: #000000;
	bottom: 0;
	height: 100%;
	left: 0;
	opacity: 0;
	top: 0;
	right: 0;
	width: 100%;
	position: fixed;
	z-index: 1;
	opacity: 0.4;
	visibility: hidden;
}
.modal-overlay.is-visible {
	opacity: 0.4;
	visibility: visible;
}

/*----------------------------------------------------------
 * player status labels
-----------------------------------------------------------*/
.white-label, .white-label-header {
	float: left;
}
.black-label, .black-label-header {
	float: right;
}
.black-label-header, .white-label-header {
	border-bottom: 1px solid;
}




/*----------------------------------------------------------
 * Chess piece images
-----------------------------------------------------------*/

.piece-B {
	background-image: url('BlackPawn.png');
}
.piece-BR{
	background-image: url('BlackRook.png');
}
.piece-BB{
	background-image: url('BlackBishop.png');
}
.piece-BN{
	background-image: url('BlackKnight.png');
}
.piece-BQ{
	background-image: url('BlackQueen.png');
}
.piece-BK{
	background-image: url('BlackKing.png');
}
.piece-W{
	background-image: url('WhitePawn.png');
}
.piece-WR{
	background-image: url('WhiteRook.png');
}
.piece-WB{
	background-image: url('WhiteBishop.png');
}
.piece-WN{
	background-image: url('WhiteKnight.png');
}
.piece-WQ{
	background-image: url('WhiteQueen.png');
}
.piece-WK{
	background-image: url('WhiteKing.png');
}

