
/*----------------------------------------------------------
 * Chess
-----------------------------------------------------------*/
.chess-board{
	width: 432px;
	height: 0;
	margin: 0 auto;
	opacity: 0;
	visibility: hidden;
}
.board-black-square {
	width: 50px;
	height: 50px;
	background-color: #663300;
	border: 2px solid black;
	float: left;
}
.board-white-square {
	width: 50px;
	height: 50px;
	background-color: #ffffff;
	border: 2px solid black;
	float: left;
}

.is-visible {
	height: auto;
	opacity: 1;
	visibility: visible;
}

/*----------------------------------------------------------
 * Chess piece images
-----------------------------------------------------------*/

.piece-B {
	background-image: url('BlackPawn.png');
}
.piece-BR{
	background-image: url('BlackRook.png');
}
.piece-BB{
	background-image: url('BlackBishop.png');
}
.piece-BN{
	background-image: url('BlackKnight.png');
}
.piece-BQ{
	background-image: url('BlackQueen.png');
}
.piece-BK{
	background-image: url('BlackKing.png');
}
.piece-W{
	background-image: url('WhitePawn.png');
}
.piece-WR{
	background-image: url('WhiteRook.png');
}
.piece-WB{
	background-image: url('WhiteBishop.png');
}
.piece-WN{
	background-image: url('WhiteKnight.png');
}
.piece-WQ{
	background-image: url('WhiteQueen.png');
}
.piece-WK{
	background-image: url('WhiteKing.png');
}

